
input.cute-green {
    background-color: #43b363;
    opacity: 0.8;
    border: 2px solid #399a3e;
    margin: 5px;
    border-radius: 15px;
    padding: 10px 15px;
    font-family:  'Choco',  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
input.cute-green:focus {
    background-color: #4ec367;
    border-color: #5ab149;
    transform: scale(1.02);
    outline: none;
}
input.cute-green::placeholder {
    color: #000000;
    opacity: 0.6;
}
.cute-green:hover {
    background-color: #67db71;
}
.cute-green-button {
    --touch-callout: none;
    background-color: #b0e57c;
    text-decoration: none;
    border: 2px solid #8bc34a;
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-block;
    font-family: 'Choco',  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    transition: background-color 0.3s ease, transform 0.1s ease;
}
a.cute-green-button {
    transition: background-color 0.3s ease;
}
a.cute-green-button:active {
    transform: unset;
}
.cute-green-button:hover {
    background-color: #96c15d;
}
.cute-green-button:active {
    background-color: #a8db67;
    transform: scale(.94, .94)
}
.cute-green {
    background-color: #4dcd71;
    opacity: 0.8;
    caret-color: #e66a7f;
    border: 2px solid #4ac350;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.cute-blue {
    background-color: #5ACBCD;
    opacity: 0.8;
    caret-color: #e66a7f;
    border: 2px solid #49ABC3;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
