@namespace svg url('http://www.w3.org/2000/svg');
* {
    font-family: inherit;
    overflow-wrap: var(--word-wrap);
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-color);
    scrollbar-width: var(--scrollbar-width);
}
p {
    text-wrap: pretty
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-wrap: balance;
    overflow-wrap: break-word
}

body {
    line-height: 1.5;
    --font-smoothing: antialiased
}

@media(prefers-reduced-motion:no-preference) {
    :root {
        interpolate-size: allow-keywords
    }
}

@media(prefers-reduced-transparency:reduce) {
    * {
        opacity: 1 !important;
    }
}

:root {
    --system-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

:-moz-loading {
    cursor: wait
}

:-moz-broken {
    border-radius: 0
}

@supports not(content-visibility:auto) {
    * {
        visibility: var(--content-visibility)
    }
}

@supports not(scrollbar-color:auto) {
    ::-webkit-scrollbar {
        width: var(--scrollbar-width);
        background-color: var(--scrollbar-color)
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color)
    }
}

:root {
    transition-behavior: allow-discrete;
    --crisp-edges: -webkit-optimize-contrast;
    --stretch: -webkit-fill-available;
    --center: -webkit-center;
    --match-parent: match-parent;
}

button,
a,
input[type=button],
input[type=checkbox],
input[type=radio],
input[type=submit],
input[type=image],
input[type=reset],
input[type=file] {
    cursor: pointer;
}

[aria-busy=true] {
    cursor: progress;
}

[draggable=false] {
    --user-drag: none;
}

[draggable=true] {
    --user-drag: element;
}

[contenteditable],
[contenteditable=true] {
    --user-modify: read-write;
}

[contenteditable=false] {
    --user-modify: read-only;
    --user-input: none;
}

[contenteditable="plaintext-only"] {
    --user-modify: read-write-plaintext-only;
}

[inert] {
    interactivity: inert;
}

img {
    max-inline-size: 100%;
    block-size: auto;
}

input[type=range],
::-webkit-scrollbar-thumb {
    cursor: grab;
}

input[type=range]:active,
::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

:disabled,
[aria-disabled=true] {
    cursor: not-allowed;
}

.centerx,
.center {
    justify-self: center;
    margin: auto;
    text-align: center;
}

.centery,
.center {
    align-self: center;
    inset: 0;
    position: fixed;
}

.center_text {
    text-align: center;
}

.center_block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center_inline {
    display: inline-block;
    text-align: center;
}

.center_absolute,
.center_screen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center_screen {
    position: fixed;
    z-index: 9999;
}

.center_absolute,
.center_absolute_x,
.center_absolute_y {
    position: absolute;
}

.center_flex_x,
.center_flex {
    display: flex;
    justify-content: center;
}

.center_flex_y,
.center_flex {
    display: flex;
    align-items: center;
}

.center_grid_x, .center_grid {
    display: grid;
    place-items: center start;
}

.center_grid_y, .center_grid {
    display: grid;
    place-items: start center;
}

.center_absolute_x {
    left: 50%;
    transform: translateX(-50%);
}

.center_absolute_y {
    top: 50%;
    transform: translateY(-50%);
}

img,
video,
canvas,
svg,
picture {
    max-width: 100%;
}

h1 {
    margin-block: .67em;
    font-size: 2em;
}

html {
    margin: auto;
}

@property --user-select {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --user-modify {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --zoom {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --user-drag {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --user-input {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --box-reflect {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --text-stroke-color {
    syntax: "<color>";
    inherits: true;
    initial-value: currentcolor
}

@property --text-stroke-width {
    syntax: "<length>";
    inherits: false;
    initial-value: 0
}

@property --text-security {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --text-fill-color {
    syntax: "*";
    inherits: true;
    initial-value: currentcolor
}

@property --tap-highlight-color {
    syntax: "<color>";
    inherits: true;
    initial-value: rgb(0, 0, 0, 0.18)
}

@property --touch-callout {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --user-focus {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --initial-letter {
    syntax: "*";
    inherits: false;
    initial-value: normal
}

@property --overflow-style {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --input-security {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --caret-animation {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --cursor-visibility {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --continue {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --content-visibility {
    syntax: "*";
    inherits: false;
    initial-value: visible
}

@property --max-logical-height {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --min-logical-height {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --max-logical-width {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --min-logical-width {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --color-rendering {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --word-wrap {
    syntax: "*";
    inherits: false;
    initial-value: normal
}

@property --locale {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --line-grid {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --line-snap {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --nbsp-mode {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --text-zoom {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --line-align {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --text-decorations-in-effect {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --force-broken-image-icon {
    syntax: "<integer>";
    inherits: false;
    initial-value: 0
}

@property --float-edge {
    syntax: "*";
    inherits: false;
    initial-value: content-box
}

@property --image-region {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --box-orient {
    syntax: "*";
    inherits: false;
    initial-value: inline-axis
}

@property --box-align {
    syntax: "*";
    inherits: false;
    initial-value: stretch
}

@property --box-direction {
    syntax: "*";
    inherits: false;
    initial-value: normal
}

@property --box-flex {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --box-flex-group {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --box-lines {
    syntax: "*";
    inherits: false;
    initial-value: single
}

@property --box-ordinal-group {
    syntax: "*";
    inherits: false;
    initial-value: 1
}

@property --box-decoration-break {
    syntax: "*";
    inherits: false;
    initial-value: slice
}

@property --box-pack {
    syntax: "*";
    inherits: false;
    initial-value: start
}

@property --line-clamp {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --font-smoothing {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --mask-position-x {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%
}

@property --mask-position-y {
    syntax: "<length-percentage>";
    inherits: false;
    initial-value: 0%
}

@property --window-dragging {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --stack-sizing {
    syntax: "*";
    inherits: true;
    initial-value: stretch-to-fit
}

@property --mask-composite {
    syntax: "*";
    inherits: false;
    initial-value: source-over
}

@property --window-shadow {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --outline-radius {
    syntax: "*";
    inherits: false;
    initial-value: 0 0 0 0
}

@property --binding {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --text-blink {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --image-rect {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --content-zoom-limit {
    syntax: "*";
    inherits: false;
    initial-value: 400% 100%
}

@property --accelerator {
    syntax: "*";
    inherits: false;
    initial-value: 0
}

@property --context-properties {
    syntax: "*";
    inherits: true;
    initial-value: none
}

@property --text-kashida-space {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%
}

@property --interpolation-mode {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --progress-appearance {
    syntax: "*";
    inherits: false;
    initial-value: bar
}

@property --content-zooming {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --flow-from {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --flow-into {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --content-zoom-chaining {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --high-contrast-adjust {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --touch-select {
    syntax: "*";
    inherits: true;
    initial-value: grippers
}

@property --ime-mode {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --wrap-through {
    syntax: "*";
    inherits: false;
    initial-value: wrap
}

@property --print-color-adjust {
    syntax: "*";
    inherits: true;
    initial-value: economy
}

@property --pay-button-style {
    syntax: "*";
    inherits: false;
    initial-value: white
}

@property --color-filter {
    syntax: "*";
    inherits: true;
    initial-value: none
}

@property --pay-button-type {
    syntax: "*";
    inherits: false;
    initial-value: plain
}

@property --visual-effect {
    syntax: "*";
    inherits: true;
    initial-value: none
}

@property --text-spacing-trim {
    syntax: "*";
    inherits: true;
    initial-value: normal
}

@property --text-group-align {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --text-autospace {
    syntax: "*";
    inherits: true;
    initial-value: normal
}

@property --orient {
    syntax: "*";
    inherits: false;
    initial-value: inline
}

@property --ruby-overhang {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --max-lines {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --line-fit-edge {
    syntax: "*";
    inherits: true;
    initial-value: leading
}

@property --overflow-scrolling {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --column-progression {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --dashboard-region {
    syntax: "*";
    inherits: false;
    initial-value: none
}

@property --column-axis {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --text-size-adjust {
    syntax: "*";
    inherits: true;
    initial-value: auto
}

@property --border-vertical-spacing {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --buffered-rendering {
    syntax: "*";
    inherits: false;
    initial-value: auto
}

@property --behaviour {
    syntax: "<url>";
    inherits: false;
    initial-value: url()
}